.center-content {
  text-align: center;
}

.hero-chooser {
  margin-top: 20px;
}

.hero-box {
  cursor: pointer;
}

.selected-hero {
  .thumbnail {
    transition: all .2s ease-in-out;
    border-color: red;
    &:hover {
      transition: all .2s ease-in-out;
      border-color: red;
    }
  }
  .hero-name {
    transition: all .2s ease-in-out;
    color: red;
  }
}
