.nav, .pagination, .carousel a { cursor: pointer; }

.center-content {
  text-align: center;
}

.pills-row {
  margin-top: 5px;
  margin-bottom: 5px;
  .nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.hero-box {
  cursor: pointer;
}

.btn-battle-result {
  width: 95%;
}

.selected-hero {
  .thumbnail {
    transition: all .2s ease-in-out;
    border-color: red;
    &:hover {
      transition: all .2s ease-in-out;
      border-color: red;
    }
  }
  .hero-name {
    transition: all .2s ease-in-out;
    color: red;
  }
}

.hero-name, .panel-hero-name {
  text-transform: capitalize;
}

.panel-hero-name {
  font-size: 16px;
  font-weight: bold;
  img {
    margin-right: 10px;
  }
}

.alerts-row {
  margin-top: 20px;
}

.game-result-badge {
  font-size: 30px;
}

.game-time {
  margin-top: 20px;
  font-size: 12px;
  color: #808080
}

.donate-buttons {
  margin-left: 15px;
}

#stats-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.notice {
  color: #999999;
  font-size: 16px;
  margin-bottom: 25px;
}

.gray-link {
  color: #666666;
  &:hover, &:active {
    color: #444444;
  }
  &:visited {
    color: #666666;
  }
}
