@(id: String)

<script type="text/ng-template" id="game.html">
    <div ng-init="init('@id')">
        <div class="row well hero-chooser">
            <div class="col-sm-1 col-sm-offset-1 center-content">
                <h2>YOU</h2>
            </div>
            <div ng-repeat="hero in heroes" class="col-sm-1 center-content hero-box"
                    ng-class="{'selected-hero' : hero == playersHero}" ng-click="setPlayersHero(hero)">
                <a class="thumbnail">
                    <img ng-src="{{hero.imageUrl}}" class="img-rounded"/>
                </a>
                <h4 class="hero-name">{{hero.name}}</h4>
            </div>
        </div>

        <h3 class="center-content vs">VS</h3>

        <div class="row well hero-chooser">
            <div class="col-sm-1 col-sm-offset-1 center-content">
                <h2>OPP</h2>
            </div>
            <div ng-repeat="hero in heroes" class="col-sm-1 center-content hero-box"
                    ng-class="{'selected-hero' : hero == opponentsHero}" ng-click="setOpponentsHero(hero)">
                <a class="thumbnail">
                    <img ng-src="{{hero.imageUrl}}" class="img-rounded"/>
                </a>
                <h4 class="hero-name">{{hero.name}}</h4>
            </div>
        </div>

        <div class="row drawing-buttons">
            <div class="col-sm-4 col-sm-offset-4 center-content">
                <div class="btn-group btn-group-justified">
                    <a type="button" class="btn" ng-click="setDrawing('first')"
                            ng-class="{
                                    'btn-primary active' : drawing == 'first',
                                    'btn-default' : drawing != 'first'
                            }">
                        Drawing first
                    </a>
                    <a type="button" class="btn btn-default" ng-click="setDrawing('second')"
                            ng-class="{
                                    'btn-primary active' : drawing == 'second',
                                    'btn-default' : drawing != 'second'
                            }">
                        Drawing second
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-content">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-success btn-battle-result" ng-disabled="!readyToBattle()"
                            ng-click="markBattleAsWon()">
                        <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>
                        I won
                    </a>
                    <a class="btn btn-default btn-battle-result" ng-disabled="!readyToBattle()"
                            ng-click="markBattleAsDraw()">
                        There was a draw
                    </a>
                    <a class="btn btn-danger btn-battle-result" ng-disabled="!readyToBattle()"
                            ng-click="markBattleAsLost()">
                        <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>
                        I lost
                    </a>
                </div>
            </div>
        </div>

        <div class="row alerts-row">
            <div ng-repeat="alert in alerts" class="col-sm-6 col-sm-offset-3 alert alert-dismissable alert-{{alert.type}}">
                <button type="button" class="close" ng-click="closeAlert($index)">&times;</button>
                {{alert.msg}}
            </div>
        </div>

        <h3 class="center-content" ng-hide="gameList.games.length == 0">
            Recent games
            <small>
                (<a data-toggle="modal" href="#reset-confirm-modal" class="gray-link">reset games history</a>)
            </small>
        </h3>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 well center-content game-result-well" ng-repeat="game in gameList.games">
                <div ng-switch on="game.result" class="game-result-badge pull-left">
                    <span class="label label-success" ng-switch-when="won">WIN</span>
                    <span class="label label-danger" ng-switch-when="lost">LOST</span>
                    <span class="label label-default" ng-switch-default>DRAW</span>
                </div>
                <div class="thumbnail pull-left game-result-thumbnail">
                    <img ng-src="{{getHeroThumbUrl(game.player)}}"/>
                </div>
                <div class="thumbnail pull-left game-result-thumbnail">
                    <img ng-src="{{getHeroThumbUrl(game.opponent)}}"/>
                </div>
                <div ng-switch on="game.drawing" class="game-result-badge pull-left">
                    <span class="label label-primary" ng-switch-when="first" data-toggle="tooltip"
                            title="Drawing First">F</span>
                    <span class="label label-primary" ng-switch-when="second" data-toggle="tooltip"
                            title="Drawing second">S</span>
                </div>
                <div class="game-time pull-left">{{fromNow(game.at)}}</div>
                <div class="pull-right delete-matchup">
                    <button type="button" class="btn close" ng-click="removeGame(game.id)">&times;</button>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="!gameList.hasNext">
            <button class="col-sm-4 col-sm-offset-4 btn next-games-button" ng-click="nextGames()">Next</button>
        </div>
    </div>

    <div class="modal fade" id="reset-confirm-modal" tabindex="-1" role="dialog"
    aria-labelledby="reset-confirm-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Just to make sure you didn't misclicked ...</h4>
                </div>
                <div class="modal-body">
                    Do you really want to wipe out your match history? There will be no way to recover it. Don't even ask.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="reset()">
                        <span class=".glyphicon .glyphicon-trash"></span> Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
