@()

@main(useAngular = false) {
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <div class="container center-content">
                    <h1>Hearthstone Stats</h1>
                    <p>Simple way of tracking your ups and downs in Hearthstone Arena</p>
                    <p class="notice">No login required, just bookmark your page and you're done.</p>
                    <p><a href="/new" class="btn btn-primary btn-lg">Get your own stats page!</a></p>
                </div>
            </div>
        </div>
    </div>
}
