@(useAngular: Boolean)(content: Html)

<!DOCTYPE html>

<html @if(useAngular) { ng-app }>
    <head>
        <title>Hearthstone Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" data-noprefix>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" data-noprefix   >
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        @if(useAngular) {
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
            <script src="@routes.Assets.at("javascripts/app.min.js")"></script>
        }
    </head>
    <body>
        @content
    </body>
</html>
