@()

@main(useAngular = true) {
    <div ng-controller="MatchResultCtrl">
        <div class="row well hero-chooser">
            <div class="col-sm-1 col-sm-offset-1 center-content">
                <h2>YOU</h2>
            </div>
            <div ng-repeat="hero in heroes" class="col-sm-1 center-content hero-box"
                    ng-class="{'selected-hero' : hero == playersHero}" ng-click="setPlayersHero(hero)">
                <a class="thumbnail">
                    <img src="{{hero.imgUrl}}" class="img-rounded"/>
                </a>
                <h4 class="hero-name">{{hero.name}}</h4>
            </div>
        </div>
        <h3 class="center-content">
            VS
        </h3>
        <div class="row well hero-chooser">
            <div class="col-sm-1 col-sm-offset-1 center-content">
                <h2>OPP</h2>
            </div>
            <div ng-repeat="hero in heroes" class="col-sm-1 center-content hero-box"
            ng-class="{'selected-hero' : hero == opponentsHero}" ng-click="setOpponentsHero(hero)">
                <a class="thumbnail">
                    <img src="{{hero.imgUrl}}" class="img-rounded"/>
                </a>
                <h4 class="hero-name">{{hero.name}}</h4>
            </div>
        </div>
    </div>
}
